# fly.toml app configuration file generated for urgentes on 2026-01-10T01:48:22Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'urgentes'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '265mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256

[[statics]]
  guest_path = "/public" 
  url_prefix = "/"